<table class="table table-striped table-bordered table-hover table-pointer">
  <thead>
    <tr>
      <th>Short Code</th>
      <th>Name</th>
      <th>Grant</th>
    </tr>
    <tr>
      <th>
        <input class="input-sm form-control" type="search" placeholder="Filter by Short Code" ng-model="filters.shortCode">
      </th>
      <th>
        <input class="input-sm form-control" type="search" placeholder="Filter by Name" ng-model="filters.name">
      </th>
      <th>
        <input class="input-sm form-control" type="search" placeholder="Filter by Grant" ng-model="filters.grant">
      </th>
    </tr>
  </thead>
  <tbody>
    <tr ng-click="loc('/studies/' + study.id)"
        ng-repeat="study in studies | filter:{shortCode: filters.shortCode, name: filters.name, grant:filters.grant}">
      <td>{{study.shortCode}}</td>
      <td>{{study.name}}</td>
      <td>{{study.grant}}</td>
    </tr>
  </tbody>
</table>
