<div ng-init="filters.archive = false" ></div>
<a class="btn btn-default" ng-hide="filters.archive" ng-click="filters.archive = true" >Show archived</a>
<a class="btn btn-default" ng-show="filters.archive" ng-click="filters.archive = false">Hide archived</a>

<table class="table table-striped table-bordered table-hover table-pointer">
  <thead>
    <tr>
      <th>MRN Number</th>
      <th>Name</th>
      <th>Gender</th>
      <th>Age</th>
      <th>Type</th>
    </tr>
    <tr>
      <th>
        <input class="input-sm form-control" type="search" placeholder="Filter by MRN Number" ng-model="filters.mrnNumber">
      </th>
      <th>
        <input class="input-sm form-control" type="search" placeholder="Filter by Name" ng-model="filters.name">
      </th>
      <th>
        <select class="input-sm form-control" ng-model="filters.gender" ng-init="filters.gender = '!'">
          <option value="!">Filter by Gender</option>
          <option value="Male">Male</option>
          <option value="Female">Female</option>
        </select>
      </th>
      <th>
        <input class="input-sm form-control" type="search" placeholder="Filter by Age" ng-model="filters.age">
      </th>
      <th>
        <select class="input-sm form-control" ng-model="filters.participantType" ng-init="filters.participantType = '!'">
          <option value="!">Filter by Type</option>
          <option value="Adult">Adult</option>
          <option value="Pediatric">Pediatric</option>
        </select>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr ng-click="loc('/patients/' + patient.id)"
        ng-repeat="patient in patients | filter:{archived: filters.archive ? undefined : false} | filter:{name: filters.name, age: filters.age} | filter:{gender: filters.gender, participantType: filters.participantType}:true"
        ng-class="{warning: patient.archived}">
      <td>{{patient.mrnNumber}}</td>
      <td>{{patient.name}}</td>
      <td>{{patient.gender}}</td>
      <td>{{patient.age}}</td>
      <td>{{patient.participantType}}</td>
    </tr>
  </tbody>
</table>


