<form class="form-horizontal" role="form" ng-submit="checkForm(patientForm, submit)" name="patientForm">

  <div class="form-group">
    <label for="input-name" class="col-sm-2 control-label">Name</label>
    <div class="col-sm-10" ng-class="{ 'has-error' : patientForm.name.$invalid && patientForm.name.$dirty }">
      <input type="text" ng-model="patient.name" class="form-control" id="input-name" name="name" placeholder="Name"
         required ng-minlength="2">
      <p ng-show="patientForm.name.$invalid && patientForm.name.$dirty" class="help-block">
        Name is required (minimum length of 2).
      </p>
    </div>
  </div>

  <div class="form-group">
    <label for="input-mrn" class="col-sm-2 control-label">MRN Number</label>
    <div class="col-sm-10" ng-class="{ 'has-error' : patientForm.mrn.$invalid && patientForm.mrn.$dirty }">
      <input type="text" ng-model="patient.mrnNumber" class="form-control" id="input-mrn" name="mrn" placeholder="MRN Number"
             required ng-minlength="7">
      <p ng-show="patientForm.mrn.$invalid && patientForm.mrn.$dirty" class="help-block">
        MRN is required (mininum length of 7).
      </p>
    </div>
  </div>

  <div class="form-group">
    <label for="input-birthday" class="col-sm-2 control-label">Birthday</label>
    <div class="col-sm-10" ng-class="{ 'has-error' : (patientForm.month.$invalid && patientForm.month.$dirty)
               || (patientForm.day.$invalid && patientForm.day.$dirty)
               || (patientForm.year.$invalid && patientForm.year.$dirty) }">
      <div class="row">
        <div class="col-xs-2">
          <select class="form-control" name="month" ng-minlength="1" required ng-model="patient.month">
            <option value="">Month</option>
            <option ng-repeat="month in _.range(1, 13)" ng-value="month">{{month}}</option>
          </select>
        </div>
        <div class="col-xs-2">
          <select class="form-control" name="day" ng-minlength="1" required ng-model="patient.day">
            <option value="">Day</option>
            <option ng-repeat="day in _.range(1, 32)" ng-value="day">{{day}}</option>
          </select>
        </div>
        <div class="col-xs-2">
          <select class="form-control" name="year" ng-minlength="1" required ng-model="patient.year" ng-init="currentYear = moment().year()">
            <option value="">Year</option>
            <option ng-repeat="year in _.range(currentYear, 1899, -1)" ng-value="year">{{year}}</option>
          </select>
        </div>
      </div>
      <p ng-show="(patientForm.month.$invalid && patientForm.month.$dirty)
               || (patientForm.day.$invalid && patientForm.day.$dirty)
               || (patientForm.year.$invalid && patientForm.year.$dirty)" class="help-block">
        Birthday is required.
      </p>
    </div>
  </div>

  <div class="form-group">
    <label for="inputgender" class="col-sm-2 control-label">Gender</label>
    <div class="col-sm-10" ng-class="{ 'has-error' : patientForm.inputgender.$invalid && patientForm.inputgender.$dirty }">
      <div class="radio">
        <label>
          <input type="radio" ng-model="patient.gender" name="inputgender" value="Male" 
                 required>
          Male
        </label>
      </div>
      <div class="radio">
        <label>
          <input type="radio" ng-model="patient.gender" name="inputgender" value="Female">
          Female
        </label>
      </div>
      <div class="radio">
        <label>
          <input type="radio" ng-model="patient.gender" name="inputgender" value="Other">
          Other
        </label>
      </div>
      <p ng-show="patientForm.inputgender.$invalid && patientForm.inputgender.$dirty" class="help-block">
        Gender is required.
      </p>
    </div>
  </div>

  <div class="form-group">
    <label for="inputrace" class="col-sm-2 control-label">Race</label>
    <div class="col-sm-10" ng-class="{ 'has-error' : patientForm.inputrace.$invalid && patientForm.inputrace.$dirty }">
      <div class="radio">
        <label>
          <input type="radio" ng-model="patient.race" name="inputrace" value="Caucasian"
                 required>
          Caucasian
        </label>
      </div>
      <div class="radio">
        <label>
          <input type="radio" ng-model="patient.race" name="inputrace" value="AfricanAmerican">
          Black or African American
        </label>
      </div>
      <div class="radio">
        <label>
          <input type="radio" ng-model="patient.race" name="inputrace" value="Asian">
          Asian
        </label>
      </div>
      <div class="radio">
        <label>
          <input type="radio" ng-model="patient.race" name="inputrace" value="NativeAmerican">
          American Indian or Alaska Native
        </label>
      </div>
      <div class="radio">
        <label>
          <input type="radio" ng-model="patient.race" name="inputrace" value="PacificIslander">
          Native Hawaiian or Other Pacific Islander
        </label>
      </div>
      <div class="radio">
        <label>
          <input type="radio" ng-model="patient.race" name="inputrace" value="Other">
          Other
        </label>
      </div>
      <p ng-show="patientForm.inputrace.$invalid && patientForm.inputrace.$dirty" class="help-block">
        Race is required.
      </p>
    </div>
  </div>

  <div class="form-group">
    <label for="inputparttype" class="col-sm-2 control-label">Participant Type</label>
    <div class="col-sm-10" ng-class="{ 'has-error' : patientForm.inputparttype.$invalid && patientForm.inputparttype.$dirty }">
      <div class="radio">
        <label>
          <input type="radio" ng-model="patient.participantType" name="inputparttype" value="Pediatric"
                 required>
          Pediatric
        </label>
      </div>
      <div class="radio">
        <label>
          <input type="radio" ng-model="patient.participantType" name="inputparttype" value="Adult">
          Adult
        </label>
      </div>
      <p ng-show="patientForm.inputparttype.$invalid && patientForm.inputparttype.$dirty" class="help-block">
        Participant type is required.
      </p>
    </div>
  </div>

  <div class="form-group">
    <label for="input-email" class="col-sm-2 control-label">Email</label>
    <div class="col-sm-10" ng-class="{ 'has-error' : patientForm.email.$invalid && patientForm.email.$dirty }">
      <input type="email" ng-model="patient.email" class="form-control" id="input-email" placeholder="abc@example.com"
             ng-minlength="3" name="email">
      <p ng-show="patientForm.email.$invalid && patientForm.email.$dirty" class="help-block">
        Email must be valid.
      </p>
    </div>
  </div>

  <div class="form-group">
    <label for="input-phone" class="col-sm-2 control-label">Phone Number</label>
    <div class="col-sm-10" ng-class="{ 'has-error' : patientForm.phone.$invalid && patientForm.phone.$dirty }">
      <input type="tel" ng-model="patient.phoneNumber" class="form-control" id="input-phone" placeholder="(xxx) xxx-xxxx"
             ng-minlength="10" name="phone">
      <p ng-show="patientForm.phone.$invalid && patientForm.phone.$dirty" class="help-block">
        Phone must be valid.
      </p>
    </div>
  </div>

  <div class="form-group">
    <label for="input-address" class="col-sm-2 control-label">Address</label>
    <div class="col-sm-10" ng-class="{ 'has-error' : patientForm.address.$invalid && patientForm.address.$dirty }">
      <textarea ng-model="patient.address" class="form-control" id="input-address" placeholder="Number, Street, City, State"
                ng-maxlength="128" name="address">
      </textarea>
      <p ng-show="patientForm.address.$invalid && patientForm.address.$dirty" class="help-block">
        Address must be no longer than 128 characters.
      </p>
    </div>
  </div>

  <div class="form-group">
    <label for="input-zip" class="col-sm-2 control-label">ZIP Code</label>
    <div class="col-sm-10" ng-class="{ 'has-error' : patientForm.zip.$invalid && patientForm.zip.$dirty }">
      <input type="tel" ng-model="patient.zipCode" class="form-control" id="input-zip" placeholder="xxxxx"
             ng-minlength="5" ng-maxlength="10" name="zip">
      <p ng-show="patientForm.zip.$invalid && patientForm.zip.$dirty" class="help-block">
        ZIP Code must be valid (between 5 and 10 characters).
      </p>
    </div>
  </div>
  
  <div class="form-group">
    <label for="input-description" class="col-sm-2 control-label">Description</label>
    <div class="col-sm-10" ng-class="{ 'has-error' : patientForm.desc.$invalid && patientForm.desc.$dirty }">
      <textarea ng-model="patient.description" class="form-control" id="input-description" placeholder="Add comments here..."
                ng-maxlength="2048" name="desc">
      </textarea>
      <p ng-show="patientForm.desc.$invalid && patientForm.desc.$dirty" class="help-block">
        Description must be no longer than 2048 characters.
      </p>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <input type="submit" class="btn btn-default"/>
      <a class="btn btn-default" ng-click="back()">Cancel</a>
    </div>
  </div>

</form>