/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color:#c3d6ee;
}

/* Always show scrollbar */
html {
    overflow-y: scroll;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 1em;
  background-color:#6699cc;
  background-image:url("http://i.imgur.com/gfcIm5E.png");
  background-position:left;
  background-repeat:no-repeat;
  height:75px;
}
.header h1 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
  padding-top:15px;
  font-size: 24px;
  color:#ffffff;
  padding-left:125px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

.table-pointer td {
  cursor: pointer;
}

table {
  margin-top: 1em;
  background-color:#ffffff;
}

.container {
  background-color:#ffffff;
  background-position:top;
  background-repeat:repeat-x;
  border:5px solid #ffffff;
}

.nav.nav-pills a {
  color: #ffffff;
}
.nav.nav-pills a:hover {
  color: #6699cc;
}


.age-input {
  display: inline;
  float: left;
  width: 55px;
}