/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color:#c3d6ee;
}

/* Always show scrollbar */
html {
    overflow-y: scroll;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.footer {
  padding-left: 0px;
  padding-right: 0px;
  width:100%;
}

/* Custom page header */
.header {
  width:100%;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 1em;
  background-color:#6699cc;
  background-image:url("http://i.imgur.com/uWHWvbz.png");
  background-position:top;
  background-repeat:repeat-x;
  height:100px;
}
.header h1 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
  padding-top:20px;
  font-size: 30px;
  color:#ffffff;
  padding-left:25px;
  width:342px;
  margin-left:9px;
  box-shadow: rgba(0, 0, 0, 0.298039) 0px 5px 10px 0px, rgba(0, 0, 0, 0.298039) 0px 10px 10px -10px inset;
  background: rgb(82, 146, 189) linear-gradient(rgb(89, 160, 211), rgb(74, 134, 174)) repeat scroll 0% 0% / auto padding-box border-box;
}

/* Custom page footer */
.footer {
  padding:20px;
  background: rgb(72, 72, 72) linear-gradient(rgb(86, 86, 86), rgb(59, 59, 59)) repeat scroll 0% 0% / auto padding-box border-box;
  color: #777;
  border-top: 1px solid #e5e5e5;
  height:100px;
}

.container-narrow > hr {
  margin: 30px 0;
}

.table-pointer td {
  cursor: pointer;
}

table {
  margin-top: 1em;
  background-color:#ffffff;
}

.container {
  background-color:#ffffff;
  border:5px solid #ffffff;
  padding-left:0px;
  padding-right:0px;
}

.nav.nav-pills a {
  color: #ffffff;
}
.nav.nav-pills a:hover {
  color: #6699cc;
}

.age-input {
  display: inline;
  float: left;
  width: 55px;
}

#topBar{
    background: rgb(72, 72, 72) linear-gradient(rgb(86, 86, 86), rgb(59, 59, 59)) repeat scroll 0% 0% / auto padding-box border-box;
    color:#fff;
    box-shadow: rgba(0, 0, 0, 0.298039) 0px 5px 10px 0px, rgba(0, 0, 0, 0.298039) 0px 10px 10px -10px inset;
    padding:5px 10px 5px 10px;
    text-align:right;
    font-style:italic;
}

.dashboard .filter-row {
  display: none;
}

.pad {
  padding-left: 15px;
  padding-right: 15px;
}